@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: #fffaf5;
  font-family: "GowunBatang-Regular", serif;
  text-align: center;
  color: #333;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

a {
  color: #007aff;
  text-decoration: none;
}

.image-gallery-slides {
  touch-action: pan-y !important; /* 위아래 스크롤 허용 */
}

.link {
  display: inline-block;
  padding: 10px 16px;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

::placeholder {
  font-family: "GowunBatang-Regular", serif;
  font-size: 14px;
  color: gray;
}
